# misc
/.env

# creds
/backend/.env
/backend/dbCreds.json
/backend/aws_credentials.json

# dependencies
/backend/node_modules/

# MacOS
/**/.DS_Store

# misc
/backend/*.png
/backend/*.jpg
/backend/*.jpeg
