<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frontend.billify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="vnd.android.cursor.dir/image" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bill"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/bill"
        android:supportsRtl="true"
        android:theme="@style/Theme.Billify"
        tools:targetApi="n">
        <activity android:name=".activities.view_transactions.ViewTransactionsActivity"></activity>
        <activity
            android:name=".activities.edit_and_confirm_items.AddEditItemActivity"
            android:label="Add New Item"
            android:parentActivityName=".activities.edit_and_confirm_items.EditItemsActivity"
            />
        <activity android:name=".activities.edit_and_confirm_items.EditItemsActivity"
            android:label="Edit and Confirm Parsed Items"
            />
        <activity android:name=".activities.CreateGroupActivity" />
        <activity android:name=".activities.GroupTransaction" />
        <activity
            android:name=".activities.groupPop"
            android:theme="@style/Theme.Billify.group_popup" />
        <activity android:name=".activities.HomepageActivity" />
        <activity android:name=".activities.UploadReceiptActivity"
            android:label="Upload a New Receipt"
            />
        <activity android:name=".activities.BillifySessionActivity" />
        <activity android:name=".activities.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>